

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">





h1 {
  font-family: "Courier New", Monospace;
  color: #6D7B8D;
  text-align: center;
}

p {
  font-family: "Courier New", Monospace;
  color: #6D7B8D;
  text-align: justify;
  margin: 0px 150px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 0px 10px;
}

h1, .signup {
  font-family: "Courier New", Monospace;
  color: #6D7B8D;
}


.signup {
  position: absolute;
  top:320px;
  left:800px;
  width:500px;
  height:300px;
  text-align: center;
}

.topnav {
  background-color: #6D7B8D;
  height: 52px;
  font-family: "Courier New", Monospace;
}

.topnav a, .topnav .dropdown-item {
  float: right;
  display: block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .nav-info {
  float: left;
  display: block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


a:visited, .dropdown-item:visited {
  background-color: #6D7B8D;
}

/* Change the color of links on hover */
.topnav a:hover, .topnav .dropdown-item:hover {
  background-color: #FFF;
  color: #6D7B8D;
}




* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 1000px;
  position: center;
  margin: 2em 1em;

}



/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.dropdown-item {
  position: relative;
}

.dropdown  {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
}

.dropdown a {
  color: #6D7B8D;
}

.dropdown-item:hover .dropdown {
  display: block;
}

</style>
